@import url('https://fonts.googleapis.com/css?family=Open+Sans');

img{
  float:none;
}
body{
  background-color: black;
}

div{
  font-family: 'Open Sans', sans-serif;
  color: white;
  display: inline-block;
}
h3{
  align: right;
  float: right;
}
