body {
  margin:0;
  text-align: center;
}
li {
  display: flex;
  padding-bottom: 128px;
  align-items: center;
}
li:nth-child(odd) img {
  order:0;
  margin-right:24px;
}
li:nth-child(even) img {
  order:1;
  margin-left:24px;
}
img {
  border-radius: 50%;
  width:50%;
}
@media screen and (max-width:700px) {
  li {
    flex-direction: column;
  }
  li img {
    order:0 !important;
  }
  img {
    width:80%;
  }
}
@media screen and (min-width:1100px) {
  li {
    display: inline-block !important;
    width: 25%;
    text-align: center;
  }
  li:nth-child(odd){
    margin-left: 25%;
    float:left;
  }
  li:nth-child(even){
    margin-right: 25%;
    float:right;
  }
}
